<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.testcase.dao.CaseDetailMapper">
  <resultMap id="BaseResultMap" type="com.platform.testcase.pojo.CaseDetail">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="product_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="function_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="level" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="img_path" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="precondition" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="exc_step" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="exp_results" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="remarks" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="type" javaType="java.lang.Integer" jdbcType="INTEGER"/>
      <arg column="apitest_caseid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="unittest_caseid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="uitest_caseid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="backdev_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="relate_demand" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="frontdev_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="productman_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="modified_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="creator_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="modifier_id" javaType="java.lang.Long" jdbcType="BIGINT" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id,function_id, level, img_path, precondition, title, exc_step, exp_results, remarks,
    status,type, apitest_caseid, unittest_caseid, uitest_caseid, backdev_id, relate_demand,
    frontdev_id, productman_id, create_time, modified_time, creator_id, modifier_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tp_case_casedetail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tp_case_casedetail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.platform.testcase.pojo.CaseDetail">
    insert into tp_case_casedetail (id, product_id,function_id, level,
      img_path, precondition, title,
      exc_step, exp_results, remarks,
      status,type,apitest_caseid, unittest_caseid,
      uitest_caseid, backdev_id, relate_demand,
      frontdev_id, productman_id, create_time,
      modified_time, creator_id, modifier_id
      )
    values (#{id,jdbcType=BIGINT}, #{product_id,jdbcType=BIGINT},#{functionId,jdbcType=BIGINT}, #{level,jdbcType=INTEGER},
      #{imgPath,jdbcType=VARCHAR}, #{precondition,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR},
      #{excStep,jdbcType=VARCHAR}, #{expResults,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER},#{type,jdbcType=INTEGER}, #{apitestCaseid,jdbcType=VARCHAR}, #{unittestCaseid,jdbcType=VARCHAR},
      #{uitestCaseid,jdbcType=VARCHAR}, #{backdevId,jdbcType=BIGINT}, #{relateDemand,jdbcType=VARCHAR},
      #{frontdevId,jdbcType=BIGINT}, #{productmanId,jdbcType=BIGINT}, now(),
      now(), #{creatorId,jdbcType=BIGINT}, #{modifierId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.platform.testcase.pojo.CaseDetail">
    insert into tp_case_casedetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="functionId != null">
        function_id,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="imgPath != null">
        img_path,
      </if>
      <if test="precondition != null">
        precondition,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="excStep != null">
        exc_step,
      </if>
      <if test="expResults != null">
        exp_results,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="apitestCaseid != null">
        apitest_caseid,
      </if>
      <if test="unittestCaseid != null">
        unittest_caseid,
      </if>
      <if test="uitestCaseid != null">
        uitest_caseid,
      </if>
      <if test="backdevId != null">
        backdev_id,
      </if>
      <if test="relateDemand != null">
        relate_demand,
      </if>
      <if test="frontdevId != null">
        frontdev_id,
      </if>
      <if test="productmanId != null">
        productman_id,
      </if>
        create_time,
        modified_time,
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{product_id,jdbcType=BIGINT},
      </if>
      <if test="functionId != null">
        #{functionId,jdbcType=BIGINT},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="imgPath != null">
        #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="precondition != null">
        #{precondition,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="excStep != null">
        #{excStep,jdbcType=VARCHAR},
      </if>
      <if test="expResults != null">
        #{expResults,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER}
      </if>
      <if test="apitestCaseid != null">
        #{apitestCaseid,jdbcType=VARCHAR},
      </if>
      <if test="unittestCaseid != null">
        #{unittestCaseid,jdbcType=VARCHAR},
      </if>
      <if test="uitestCaseid != null">
        #{uitestCaseid,jdbcType=VARCHAR},
      </if>
      <if test="backdevId != null">
        #{backdevId,jdbcType=BIGINT},
      </if>
      <if test="relateDemand != null">
        #{relateDemand,jdbcType=VARCHAR},
      </if>
      <if test="frontdevId != null">
        #{frontdevId,jdbcType=BIGINT},
      </if>
      <if test="productmanId != null">
        #{productmanId,jdbcType=BIGINT},
      </if>
      now(),
      now(),
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.platform.testcase.pojo.CaseDetail">
    update tp_case_casedetail
    <set>
      <if test="productId != null">
        #{product_id,jdbcType=BIGINT},
      </if>
      <if test="functionId != null">
        function_id = #{functionId,jdbcType=BIGINT},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="imgPath != null">
        img_path = #{imgPath,jdbcType=VARCHAR},
      </if>
      <if test="precondition != null">
        precondition = #{precondition,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="excStep != null">
        exc_step = #{excStep,jdbcType=VARCHAR},
      </if>
      <if test="expResults != null">
        exp_results = #{expResults,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="apitestCaseid != null">
        apitest_caseid = #{apitestCaseid,jdbcType=VARCHAR},
      </if>
      <if test="unittestCaseid != null">
        unittest_caseid = #{unittestCaseid,jdbcType=VARCHAR},
      </if>
      <if test="uitestCaseid != null">
        uitest_caseid = #{uitestCaseid,jdbcType=VARCHAR},
      </if>
      <if test="backdevId != null">
        backdev_id = #{backdevId,jdbcType=BIGINT},
      </if>
      <if test="relateDemand != null">
        relate_demand = #{relateDemand,jdbcType=VARCHAR},
      </if>
      <if test="frontdevId != null">
        frontdev_id = #{frontdevId,jdbcType=BIGINT},
      </if>
      <if test="productmanId != null">
        productman_id = #{productmanId,jdbcType=BIGINT},
      </if>
      now,
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.platform.testcase.pojo.CaseDetail">
    update tp_case_casedetail
    set function_id = #{functionId,jdbcType=BIGINT},
      level = #{level,jdbcType=INTEGER},
      img_path = #{imgPath,jdbcType=VARCHAR},
      precondition = #{precondition,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      exc_step = #{excStep,jdbcType=VARCHAR},
      exp_results = #{expResults,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      apitest_caseid = #{apitestCaseid,jdbcType=VARCHAR},
      unittest_caseid = #{unittestCaseid,jdbcType=VARCHAR},
      uitest_caseid = #{uitestCaseid,jdbcType=VARCHAR},
      backdev_id = #{backdevId,jdbcType=BIGINT},
      relate_demand = #{relateDemand,jdbcType=VARCHAR},
      frontdev_id = #{frontdevId,jdbcType=BIGINT},
      productman_id = #{productmanId,jdbcType=BIGINT},
      modified_time = now(),
      creator_id = #{creatorId,jdbcType=BIGINT},
      modifier_id = #{modifierId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="exist" parameterType="com.platform.testcase.pojo.CaseDetail" resultType="java.lang.Long">
    select id
    from tp_case_casedetail
    where
     title = #{title} and exc_step = #{excStep}
    and exp_results = #{expResults} and type = #{type}
  </select>
  <delete id="delete" parameterType="java.util.List">
    delete from tp_case_casedetail
    where id in
    <foreach collection="idList" open="(" close=")" separator="," item="item">
      #{item}
    </foreach>
  </delete>
</mapper>